html,
body,
#container,
.line,
code,
.article-entry p,
.article-entry table,
input {
  height: 100%;
  font-family: 'comic sans ms', 'HYLeMiaoTiW', sans-serif !important;
  font-size: 17px;
}
.fr {
  float: right;
}
.js-go-top {
  cursor: pointer;
}
.js-go-top:hover {
  opacity: 0.8;
}
.article-entry td {
  text-align: left !important;
}
.article-entry td:first-child {
  padding-right: 30px !important;
  white-space: nowrap;
}
#header {
  height: 200px !important;
}
#header:after {
  display: none;
}
#header-inner {
  position: absolute !important;
  bottom: 0%;
}
#subtitle {
  font-size: 20px;
}
.nav-icon,
.main-nav-link {
  opacity: 1 !important;
}
.nav-icon {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
}
#sub-nav {
  margin-right: 35px !important;
}
.article-entry .highlight pre {
  overflow: visible;
}
.article-entry blockquote {
  margin: 20px 0 !important;
  text-align: left !important;
  padding: 20px;
  border-left: 6px solid #ff8b00;
  background-color: #feffdb;
  color: #2f2f2f;
}
.article-entry blockquote p {
  margin: auto !important;
  color: #ff9b00;
}
.article-entry blockquote code {
  color: #8a2be2;
}
article.is-index {
  position: relative;
}
article.is-index::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: linear-gradient(rgba(255,255,255,0.001), #fff);
  pointer-events: none;
}
article.is-index .article-inner {
  height: 295px;
  position: relative;
  overflow-y: scroll;
}
.widget.widget-category {
  position: relative;
  border: 0;
  height: 350px;
  box-shadow: 4px 6px 0 rgba(125,115,115,0.2);
  overflow: hidden;
}
.widget.widget-category::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://wx2.sinaimg.cn/large/006ar8zgly1g1sqd9c6frj30i20ntwh9.jpg");
  background-size: cover;
}
.widget.widget-tag {
  position: relative;
  border: 0;
  height: 350px;
  box-shadow: 4px 6px 0 rgba(125,115,115,0.2);
  overflow: hidden;
}
.widget.widget-tag::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://wx4.sinaimg.cn/large/006ar8zgly1g1sqcuqotyj30e80lcmzg.jpg");
  background-size: cover;
}
.widget.widget-posts {
  position: relative;
  border: 0;
  height: 350px;
  box-shadow: 4px 6px 0 rgba(125,115,115,0.2);
  overflow: hidden;
  height: 425px;
}
.widget.widget-posts::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://wx4.sinaimg.cn/large/006ar8zgly1g1sqd3gvr3j30fa0kx76x.jpg");
  background-size: cover;
}
.widget.widget-tagcloud {
  position: relative;
  border: 0;
  height: 350px;
  box-shadow: 4px 6px 0 rgba(125,115,115,0.2);
  overflow: hidden;
}
.widget.widget-tagcloud::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://wx2.sinaimg.cn/large/006ar8zgly1g1sqd59n5rj30hs0nhjsw.jpg");
  background-size: cover;
}
.widget.widget-archives {
  position: relative;
  border: 0;
  height: 350px;
  box-shadow: 4px 6px 0 rgba(125,115,115,0.2);
  overflow: hidden;
}
.widget.widget-archives::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://wx2.sinaimg.cn/large/006ar8zgly1g1sqd73llsj30hs0o4mzc.jpg");
  background-size: cover;
}
.widget > ul {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 15px;
}
.widget a {
  position: relative;
  z-index: 1;
}
.widget:hover::after {
  filter: blur(7px);
}
.widget:hover li,
.widget:hover a {
  color: #fff;
}
.myPanel {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 199307100337;
  width: 600px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.3) inset, 0 0.5em 1em rgba(0,0,0,0.3);
  background: url("http://wx1.sinaimg.cn/large/006ar8zgly1g1sqcsodu1j30zk05kq4j.jpg") 0/cover fixed;
}
.myPanel .myPanel__container {
  position: relative;
  overflow: hidden;
  height: 100%;
  background: rgba(255,255,255,0.25) border-box;
}
.myPanel .myPanel__container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://wx1.sinaimg.cn/large/006ar8zgly1g1sqcsodu1j30zk05kq4j.jpg") 0/cover fixed;
  filter: blur(20px);
  margin: -30px;
  z-index: -1;
}
.myPanel .myPanel__header {
  padding-top: 10px;
  height: 40px;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.3) inset, 0 0.5em 1em rgba(145,145,145,0.6);
  position: relative;
}
.myPanel input.myPanel__header--input {
  width: 100%;
  height: 100%;
  border: 0;
  padding-left: 20px;
  box-sizing: border-box;
  outline: none;
  background: transparent;
}
.myPanel .myPanel__body {
  height: 320px;
  overflow-y: scroll;
}
.myPanel .myPanel__body--li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}
.myPanel .myPanel__body--li:hover {
  background: rgba(200,200,200,0.25);
}
.myPanel .myPanel__body--li.is-active {
  background: rgba(200,200,200,0.25);
}
.myPanel .myPanel__body--li:hover .myPanel__body--link,
.myPanel .myPanel__body--li.is-active .myPanel__body--link {
  box-shadow: 1px 10px 10px -10px rgba(0,0,24,0.5);
  transform: scale(1.2);
}
.myPanel .myPanel__body--link {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  margin: 10px;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
.myPanel .myPanel__body--title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  padding-left: 10px;
}
.myPanel .myPanel__body--tag {
  display: inline-block;
  padding: 5px;
  background: #ccc;
  color: #333;
  font-size: 14px;
  margin-right: 5px;
}
